<div class="align-items-center" style="height: 100vh;display: flex;">
    <form action="/login" method="post">
        <div class="d-flex flex-column mb-3">
            <% if(messages.error) {%>
                <p><%=  messages.error %></p>
            <% } %>
            <div class="mb-3">
                <label for="username" class="form-label">Name</label>
                <input type="text" class="form-control"  name="username" placeholder="username">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Password</label>
                <input type="password" class="form-control" name="password"  placeholder="password">
            </div>
        </div>
    
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Login</button>
    
        </div>
    </form>

</div>