<head>
    <link rel="stylesheet" href="../../public/css/login.css">
</head>

<div class="d-flex justify-content-center align-items-center" 
     style="height: 100vh;display: flex;">
    
     <div class="row">
         <h2 class="text-center mb-3">Login</h2>
         
         <form action="/login" method="post" >
            <div class="d-flex flex-column mb-3">
                <% if(messages.error) {%>
                    <p><%=  messages.error %></p>
                <% } %>
                <div class="mb-3">
                    <label for="username" class="form-label">Name</label>
                    <input type="text" class="form-control"  name="username" placeholder="username">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password"  placeholder="password">
                </div>
            </div>
            
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-primary" onclick="register()">Register</button>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
    
    <script>
        const register = () => location.href = '/register'
    </script>
</div>