<div class="row justify-content-center">
    <div class="col">
        <h1>Ocorreu um erro, tente novamente.</h1>

        
        Error:
        <% if(error) {%>
            <p><%= error %></p>
        <% } %>
    </div>
</div>